.footer {
  padding: 40px 20px;
  flex-grow: 0;
  background-color: #fafafa;

  .dark-theme & {
    background-color:#252627;
  }

  .fa-stack-2x {
    color: #404040;
    .dark-theme & {
      color:#252627;
    }
  }

  .copyright {
    //font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
    text-align: center;
  }

  p {
    text-align: center;
  }
}